html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 ul {
  text-decoration: none;
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #DAE3E5;
  font-family: "Roboto", serif;
}

nav {
  padding: .8rem 1.9rem;
  height: 5rem;
  background-color: #507DBC;
  color: #DAE3E5;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

nav > p {
  font-family: "Fruktur", serif;
  font-size: 2.5em;
}

nav > ul {
  width: 20%;
  justify-content: space-between;
  color: #fff;
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: #DAE3E5;
  font-family: "Roboto", serif;
  font-size: 1.5em;
}

nav > ul > li {
  transition: transform .2s ease-in-out;
}

nav > ul > li:hover {
  cursor: pointer;
  color: #507DBC;
  transform: scale(1.2);
}

main > table {
  width: 70%;
  margin: 20px auto;
  background-color: #2D3748;
  border-radius: 15px;
  color: #fff;
  padding: 1rem;
  font-size: 1.2em;
}

main > table th {
  background-color: #A1C6EA;
  color: #04080F;
  height: 3.125rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

main > table img {
  width: 100%;
  height: 12.5rem;
  border-radius: 25px;
}

.car {
  background-color: #2D3748;
}

main > table td {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

main > table a {
  text-decoration: underline;
  color: #47b5ff;
  font-weight: 900;
}

footer {
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 4.375rem;
  width: 100%;
  max-height: fit-content;
  background-color: #3d3d3d;
  color: #fff;
}

footer > section, footer > aside {
  text-align: center;
}

footer h1 {
  margin-bottom: 0.625rem;
  text-decoration: underline;
}

footer > section a{
  color: #fff;
  text-decoration: none;
  margin-left: 0.9rem;
  line-height: 1.2em;
}


footer > aside i {
  line-height: 1.2em;
  margin-top: 0.9rem;
}

.contactForm {
  width: 30%;
  margin: 3.125rem auto;
  padding: 1.25rem;
  background-color: #A1C6EA;
  border-radius: 1.25rem;
  font-weight: 900;
}

.contactForm > input {
  padding: 1.25rem;
  background-color: #507DBC;
  border: 2px solid #507DBC;
  border-radius: 0.9rem;
  height: 2.5rem;
}

.contactForm > textarea, textarea::placeholder {
  padding: 0.3125rem 0.9rem;
}


.contactForm > input::placeholder {
  color: #aeaeae;
  padding: 0.3125rem 0.9rem;
}

.btn {
  border: 2px solid rgb(0, 96, 174);
  margin: 0.625rem 0;
  color: #fff;
  font-weight: 900;
  line-height: 0.0625rem;
}

#showroom figure {
  margin: 3.125rem 4.375rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  text-align: center;
  background-color: #fff;
  border-radius: 0.18rem;
}

figcaption {
  padding: 1.25rem 0.625rem;
  font-weight: 700;
}

#showroom img {
  width: 100%;
}

#carImages {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #bfd6ff;
}

#titleCarInfo {
  padding: 3.125rem;
  font-weight: 900;
  font-size: 2.6em;
  color: #312788;
}


#infoDetails, #sectionTechn {
  display: inline-block;
  text-align: center;
  margin-top: 2rem; 
  margin-bottom: 3rem;
}

#infoDetails {
  position: relative;
  left: 50%;
  transform: translateX(-150%);
}

#sectionTechn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}